@page "/courses/{id:int}"
@inject HttpClient client

<h3>Edit course</h3>
<EditForm Model="course" OnValidSubmit="EditCourse">
    <label for="name">Name</label>
    <InputText @bind-Value="course.Name" id="name" />
    <br />
    <label for="teacher">Teacher</label>
    <InputSelect @bind-Value="course.TeacherId" id="teacher">
        <option value="">Select...</option>
        @foreach (var teacher in teachers)
        {
            <option value="@teacher.Id">@teacher.FullName</option>
        }
    </InputSelect>
    <br />
    <label for="maxGrade">MaxGrade</label>
    <InputNumber @bind-Value="course.MaxGrade" id="maxGrade" />
    <br />
    <DataAnnotationsValidator />
    <ValidationSummary />

    <button type="submit">Save</button>
</EditForm>
@code {
    [Inject] NavigationManager navigationManager { get; set; } = null!;
    [Parameter] public int id { get; set; }
    private Course course = new Course();
    private List<Teacher> teachers = new List<Teacher>();
    private Teacher teacher;

    protected override async Task OnParametersSetAsync()
    {
        course = await client.GetFromJsonAsync<Course>($"api/course/{id}");
        teachers = await client.GetFromJsonAsync<List<Teacher>>("api/teacher");
    }
    private async Task EditCourse()
    {
        teacher = await client.GetFromJsonAsync<Teacher>($"api/teacher/{course.TeacherId}");
        course.Teacher = teacher;
        await client.PutAsJsonAsync("api/course", course);
        navigationManager.NavigateTo("/courses");
    }
}
